<h1> Tutorial_12 : CRUD in one table </h1>
 
<%= form_with model: @user, url: create_user_path, method: :post do |form| %>
    <div class="form-group">
        <%= form.label :user_name, "User Name", class: "required" %><br>
        <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :address, class: "required" %><br>
        <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :phone, class: "required" %><br>
        <%= form.text_field :phone, class: "form-control" %>
    </div>
    <div class="submit-btn-div">
        <%= form.submit class: "btn create-btn pull-right" %>
    </div>
<% end %>
        <div id="main_table">
          <table id="userTable" class="user-form-table user-list-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone No</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each_with_index  do |user, index| %>
                <tr>
                  <td><%= index += 1 %></td>
                  <td><%= user["name"]  %></td>
                  <td><%= user["address"]  %></td>
                  <td><%= user["phone"]  %></td>
                  <td class="operation">
                    <div>
                        <%= button_to 'delete', {:controller => "user", :action => "remove_user", :user_id => user[:id], :user_id=> session[:user_id]} , :method=>:post , class: "delete"  %>
                        <%= button_to 'update', {:controller => "user", :action => "remove_user", :user_id => user[:id], :user_id=> session[:user_id]} , :method=>:post  %>
                    </div>
                  </td>
                  <%# <td><%= user.super_user_flag == true ? "Super User" :  (user.role == 1 ? 'Level1 User' : 'Level2 User') </td> %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>